<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogs</title>
    <link rel="stylesheet" href="/styles.css" />

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;1,300;1,400&display=swap"
      rel="stylesheet" />
    <!-- Favicon -->
    <link
      rel="icon"
      href="https://res.cloudinary.com/dhkxbgwmt/image/upload/v1702112459/favicon_ar5nr1.svg" />
  </head>

  <body class="hidescrollbar">
    <!-- Nav Start -->
    <div class="nav">
      <div class="img">
        <a href="/"
          ><img
            src="https://res.cloudinary.com/dhkxbgwmt/image/upload/v1702112459/Logo_czunhf.svg"
            alt="Logo"
            style="width: 250px; height: 10vh" />
        </a>
      </div>
      <!-- Nav End -->
      <div class="anchor-container">
        <div class="anchors"><a href="/">Home</a></div>
        <div class="anchors"><a href="/posts">Create New</a></div>
        <div class="anchors"><a href="/contact">Contact</a></div>
      </div>
    </div>
    <!-- Nav End -->
    <div class="container">
      <!-- Creating Multiple cards using the data from db -->
      <% for (let blog of blogs){ %>
      <a href="<%=blog._id%>" class="card-link">
        <div class="cards">
          <div class="img-cont">
            <img class="postImg" src="<%=blog.image%>" alt="cat" alt="cat" />
          </div>
          <div class="textContent">
            <div class="title"><%=blog.title%></div>
            <div class="desc">
              <%=blog.content.para1.split(" ",21).join(" ").concat("...")%>
            </div>
          </div>
        </div>
      </a>
      <%}%>
    </div>
  </body>
</html>
